.our-services-container {
  width: 100%;
  min-height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* mobile-screen-container */
.mobile-screen-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mobile-screen-container > * {
  border-bottom: 1px solid var(--color-tertiary);
}

.mobile-service-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: height 0.3s ease-in-out;
  padding: 10px;
  cursor: pointer;
}
.mobile-service-card.active {
  justify-content: space-between;
  min-height: 50vh;
  height: auto;
}
.mobile-service-card.inactive {
  min-height: 10vh;
  height: auto;
  max-height: 10vh;
}

.mobile-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-card-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.mobile-service-icon {
  color: var(--color-tertiary);
  width: clamp(24px, 5vw, 44px);
  height: clamp(24px, 5vw, 44px);
  margin-right: 5px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.mobile-service-icon.active {
  transform: rotate(180deg);
  color: var(--helper-color-primary);
}
.mobile-service-icon.inactive {
  transform: rotate(0deg);
}

.mobile-service-title {
  font-size: clamp(24px, 5vw, 44px);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color-primary);
  transition: color 0.3s ease-in-out;
}
.mobile-service-title.active {
  color: var(--helper-color-primary);
}

.mobile-service-list {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}
.mobile-service-list.active {
  opacity: 1;
  transform: scale(1);
}
.mobile-service-list.inactive {
  transform: scale(0);
}

.mobile-service-gif {
  width: clamp(200px, 30vw, 260px);
  height: 200px;
  object-fit: contain;
  border: none;
  outline: none;
  margin: 10px 0;
}
