.services-hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 425px) {
    height: 100vh;
  }
}

.hero-video {
  width: 100%;
  object-fit: cover;
  display: block;
  border: none;
  outline: none;

  @media (min-width: 768px) {
    height: 100vh;

    position: sticky;
    top: 0;
    z-index: -1;
  }
}

.hero-entry {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    height: 100vh;
    color: var(--white-color);
  }
}

.hero-spider {
  font-size: clamp(24px, 5vw, 36px);
  text-align: center;
  margin-top: 20px;
  font-family: var(--font-fifth);
}

.hero-text-container {
  width: 90%;
  margin: 0 auto;

  @media (min-width: 768px) {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.hero-slogan {
  font-size: clamp(40px, 10vw, 80px);
  text-align: center;
  line-height: 50px;
  margin-top: 20px;

  @media (min-width: 768px) {
    line-height: 75px;
  }
}

.hero-paragraph {
  font-size: clamp(16px, 5vw, 32px);
  text-align: center;
}

.hero-words {
  position: relative;
  height: 100px;
  text-align: center;
  overflow: hidden;
  margin-top: 20px;
}

.hero-word {
  display: inline-block;
  font-size: clamp(24px, 5vw, 32px);
  text-transform: uppercase;
  font-weight: bold;
}

.hero-read-more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.read-more {
  font-size: clamp(12px, 4vw, 20px);
  text-align: center;
  color: var(--color-tertiary);
  border-bottom: 1px solid var(--color-tertiary);
  padding-bottom: 2px;
}

.read-more-icon {
  animation: downBounce 1.5s infinite ease-in-out;
  color: var(--color-tertiary);
}

@keyframes downBounce {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(6px);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
