.footer-container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.animated-gradient-bg {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(217, 119, 87, 0.18),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(108, 139, 167, 0.18),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      circle at 50% 80%,
      rgba(217, 119, 87, 0.12),
      rgba(0, 0, 0, 0)
    ),
    #000000;

  background-size: 140% 140%;
  animation: gradientMove 16s ease-in-out infinite;
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
  }
}

.footer-email-container span {
  font-size: clamp(20px, 4.5vw, 80px);
  font-weight: 900;
  line-height: 0.9;
  color: var(--white-color);
  transition: color 0.3s ease-in-out;
}
.footer-email-container span:hover {
  color: var(--helper-color-secondary);
}

.logo {
  width: clamp(100px, 10vw, 150px);
  height: clamp(100px, 10vw, 150px);
  object-fit: cover;
}

.social-links {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
}

.social-link-container {
  display: flex;
  align-items: last center;
  justify-content: last baseline;
  gap: 5px;
}
.social-link-container:hover .arrow-icon,
.social-link-container:hover .social-link {
  color: var(--helper-color-primary);
}

.arrow-icon {
  width: clamp(12px, 2vw, 20px);
  height: clamp(12px, 2vw, 20px);
  color: var(--white-color);
  transition: color 0.3s ease-in-out;
}

.social-link {
  font-size: clamp(12px, 2vw, 20px);
  color: var(--white-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.pages {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.pages a {
  font-size: clamp(12px, 2vw, 20px);
  color: var(--white-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.pages a:hover {
  color: var(--helper-color-primary);
}

.created-by {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--black-color);
}

.created-by span {
  color: var(--white-color);
  font-size: clamp(12px, 2vw, 16px);
}

.ozzencben {
  margin: 0 5px;
  color: var(--helper-color-primary);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.ozzencben:hover {
  color: var(--helper-color-secondary);
}
