.contact-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
  background: radial-gradient(circle at 20% 20%, #6c8ba7, transparent 60%),
    radial-gradient(circle at 80% 30%, #d97757, transparent 60%),
    radial-gradient(circle at 50% 80%, #000, transparent 70%);
  gap: 30px;
}

.contact-header {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.contact-heading {
  font-size: clamp(1.5rem, 4vw, 4rem);
  text-transform: uppercase;
  color: var(--black-color);
  letter-spacing: 3px;
  font-weight: 500;
}

.interested-text {
  font-size: clamp(1rem, 4vw, 2.5rem);
  letter-spacing: 3px;
  color: var(--black-color);
}

.content-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
  width: 90%;
  margin: 20px auto;
}

.content-option {
  padding: 5px 10px;
  border: 2px solid var(--black-color);
  color: var(--black-color);
  border-radius: 25px;
  cursor: pointer;
  font-size: clamp(0.6rem, 2vw, 1rem);
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    border: 1px solid var(--black-color);
  }
}
.content-option.active {
  background-color: var(--helper-color-primary);
  color: var(--white-color);
  border-color: var(--helper-color-primary);
}
.content-option:hover {
  color: var(--white-color);
  border-color: var(--helper-color-primary);
}

.contact-info {
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: var(--color-primary);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  margin: 10px auto;
  gap: 10px;
}

.name-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.contact-input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border-bottom: 2px solid var(--black-color);
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

::placeholder {
  color: var(--color-primary);
}

.contact-button {
  padding: 10px 20px;
  background-color: var(--helper-color-primary);
  color: var(--white-color);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: clamp(0.8rem, 2vw, 1rem);
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}
.contact-button:hover {
  background-color: var(--helper-color-secondary);
  color: var(--white-color);
}
