@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  /* Fonts */
  --font-primary: "Bebas Neue", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-tertiary: "Montserrat", sans-serif;
  --font-fourth: "Shadows Into Light", sans-serif;
  --font-fifth: "Great Vibes", sans-serif;
  --font-sixth: "Indie Flower", sans-serif;

  /* Colors */
  --white-color: #fff;
  --black-color: #000;
  --color-primary: #333333;
  --color-secondary: #666666;
  --color-tertiary: #999999;
  --color-quaternary: #cccccc;

  /* Text colors */
  --text-color-primary: #000;

  --helper-color-primary: #d97757;
  --helper-color-secondary: #6C8BA7;

  /* bg colors */
  --bg-color-primary: #f5f5f5;
  --bg-color-secondary: #e5e5e5;
}

html {
    /* Kaydırmanın sadece HTML elementinde kalmasını sağlar */
    overflow-y: scroll;
}

body.dark-theme {
  /* bg colors */
  --bg-color-primary: #222222;
  --bg-color-secondary: #2c2c2c;

  /* Text colors */
  --text-color-primary: #fff;
}

body {
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  font-family: var(--font-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Autofill BG rengini kaldır */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s; /* Chrome hack */
}

::selection {
  background-color: var(--color-primary);
  color: var(--white-color);
}

::placeholder {
  color: var(--color-tertiary);
}
